@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

html {
  height: 100%;
}

body {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #F2F2F2;
  width: 1200px;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.white {
  background-color: #FFFFFF;
}

.list {
  list-style-type: none;
}

.link {
  color: inherit;
  text-decoration: none;
}

/*_________________________________________Стилизация хедера______________________________*/
.page-header {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  padding-right: 70px;
  padding-left: 70px;
}

.navigation {
  display: flex;
  justify-content: space-between;
}

.navigation-list,
.navigation-user {
  display: flex;
  margin: 0;
  padding: 0;
}

.navigation-item .navigation-link {
  display: block;
  padding: 20px 16px;
  text-transform: capitalize;
}

.navigation-logo {
  display: block;
  margin-bottom: -6px;
}

.navigation-item-logo {
  position: relative;
  width: 140px;
  margin-right: 30px;
}

.button {
  color: #FFFFFF;
  background-color: #756157;
  border-radius: 4px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  margin-top: 14px;
}

.button-navigation {
  display: block;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  padding: 8px 34px;
}

.navigation-user-item .navigation-link{
  min-width: 44px;
  min-height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation-user .navigation-user-item:nth-child(2) {
  margin-right: 20px;
  display: flex;
}

.like {
  font-weight: 400;
  font-size: 10px;
  line-height: 10px;
  color: #FFFFFF;
  background-color: #7DB54F;
  padding: 5px;
  border-radius: 50%;
  position: absolute;
  margin: 11px 4px 33px 20px;
}

/*__________________________Стилизация приветствия на главной странице______________________*/
.main-index {
  flex-grow: 1;
}

.welcome {
  width: 1200px;
  min-height: 485px;

  background-image: url("../images/vector-broken-line.svg"), url("../images/index-mountains-background.jpg");
  background-repeat: no-repeat, no-repeat;
  background-position: bottom center, center;
}

.welcome-sedona {
  display: block;
  margin: 0 auto;
  padding-top: 51px;
  padding-bottom: 25px;
}

.preview {
  max-height: 282px;
  text-align: center;
  margin: 0;
  padding-top: 69px;
  padding-bottom: 90px;
}

.preview-title,
.search-title,
.newsletter-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.preview-title {
  max-width: 620px;
  margin: 0 auto 25px;
  padding: 0;
}

.preview-description,
.search-description {
  font-size: 22px;
  line-height: 26px;
  color: #333333
}

.preview-description {
  margin: 0;
  padding: 0;
}

/*_______________________Стилизация преимуществ на главной странице_______________________*/
.advantages {
  text-align: center;
  color: #000000;
  margin: 0;
  padding: 0;
}

.advantages-list,
.travel-list {
  display: flex;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
}

.advantages-item,
.travel-item {
  width: 400px;
  min-height: 384px;
}

.advantages-title,
.travel-title {
  display: block;
  max-width: 175px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  margin: 0 auto;
  padding: 0;
}

.advantages-description-blue {
  margin-top: 62px;
  margin-bottom: 0;
}

.advantages-item-blue {
  background-color: #82B3D3;
  color: #FFFFFF;
  display: flex;
  width: 100%;
}

.advantages-container {
  display: flex;
  flex-direction: column;
  padding: 92px 85px 111px 85px;
}

.advantages-item-white .advantages-container,
.advantages-item-grey .advantages-container {
  padding: 103px 85px 121px 85px;
}

.canyon {
  order: 1;
}

.advantages-item-white {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item-grey {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-item-white,
.advantages-item-grey {
  display: flex;
  flex-direction: column;
}

.advantages-description,
.travel-description {
  color: #333333;
  margin: 0;
  padding: 0;
}

.advantages-description {
  margin-top: 62px;
  margin-bottom: 0;
}

.travel-item {
  background-color: rgba(131, 179, 211, 0.12);
}

.travel-item-white {
  background-color: #FFFFFF;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.house {
  background-image: url("../images/housing.svg");
  background-repeat: no-repeat;
  background-position: 163px 80px;

}

.food {
  background-image: url("../images/food.svg");
  background-repeat: no-repeat;
  background-position: 163px 81px;
  box-shadow: none;
}

.souvenirs {
  background-image: url("../images/souvenirs.svg");
  background-repeat: no-repeat;
  background-position: 168px 78px;
}

.travel-container {
  display: flex;
  flex-direction: column;
  margin: 182px auto 81px;
  max-width: 230px;
}

.travel-title {
  margin-bottom: 30px;
}

/*_____________________________Стилизация раздела поиска жилья________________________*/
.search {
  text-align: center;
  margin: 0;
  padding: 96px 304px;
  max-height: 406px;
}

.button-search,
.pagination-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
}

.search-title {
  margin: 0;
}

.search-description {
  margin-top: 20px;
  margin-bottom: 54px;
}

.search .button-search {
  font-size: 20px;
  line-height: 36px;
  padding: 8px 50px;
  margin: 0 auto;
}


/*______________________________Стилизация подписки на рассылку______________________*/
.newsletter {
  background-image: url("../images/background-subscribe.jpg");
  background-repeat: no-repeat;
  background-size: 1200px;
  width: 1200px;
  text-align: center;
  color: #FFFFFF;
  padding-top: 96px;
  padding-bottom: 104px;
}

.newsletter-catalog {
  background: none;
}

.newsletter-title {
  margin: 0;
  padding: 0;
}

.newsletter-description {
  font-size: 22px;
  line-height: 26px;
  color: #FFFFFF;
  margin-top: 20px;
  margin-bottom: 0;
  padding: 0;
}

.newsletter-form {
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 54px;
}

.newsletter-catalog {
  background-color: #FFFFFF;
  color: #000000;
}

.field {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  min-height: 52px;
  width: 452px;
  border: none;
  padding: 0 0 0 20px;
  background-color: #F2F2F2;
}

.newsletter-button {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;

  background-color: #82B3D3;
  border-radius: 0 4px 4px 0;
  color: #FFFFFF;
  border: none;
  min-width: 232px;
  height: 52px;
  margin: 0;
  padding: 0;
}

.newsletter-catalog .newsletter-description {
  color: #333333;
}

/*_____________________________________________________Стилизация футера________________________________*/
.pade-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 120px;
  padding: 0 70px;
}

.footer-social-list {
  display: grid;
  grid-template-columns: 48px 48px 48px;
  margin: 0;
  padding: 0;
  width: 48px;
  height: 40px;
  justify-items: center;
  align-items: center;
}

.footer-contact-phone {
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}

/*_____________________________________Страница каталога______________________________*/
.inner-header {
  background-image: url("../images/catalog-background.jpg");
  background-repeat: no-repeat;

  background-color: #82B3D3;
  color: #FFFFFF;
  padding: 35px 70px 70px 70px;
}

.catalog-conteiner {
  width: 1060px;
  margin: 0 auto;
  padding: 0;
}

.search-filter {
  display: flex;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
  align-self: stretch;
}

.inner-header-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  margin: 0;
  padding: 0;
}

/*________________________Хлебные крошки или как вернуться домой________________*/
.breadcrumbs-list {
  margin-top: 8px;
  margin-bottom: 40px;
}

.breadcrumbs-link {
  font-size: 16px;
  margin: 0;
  padding: 0;
}


/*______________________________Параметры поиска гостиниц в седоне______________*/
.search-filter-group {
  font-size: 18px;
  line-height: 23px;
  border: none;
  margin: 0;
  padding: 0;
}

.price-filter {
  border: none;
  width: 288px;
  margin-right: 70px;
  margin-left: 0;
  padding: 0;
}

.search-filter-list {
  margin: 0;
  padding: 0;
}

.search-filter-title,
.price-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
  margin: 0;
  padding: 0;
}

.search-filter-title {
  margin-bottom: 32px;
}

.infrastructure {
  margin-right: 70px;
}

.housing-type {
  margin-right: 160px;
}

.button-reset {
  background: none;
}

.button-search-conteiner {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  justify-content: end;
}

.button-search {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #FFFFFF;
  width: 191px;
  height: 36px;
  border-radius: 4px;
  border: 0;
}

.button-submit,
.add-to-favorites {
  background-color: #82B3D3;
}

.button-submit {
  margin-bottom: 32px;
}

.result {
  display: flex;
  margin-top: 50px;
  justify-content: space-between;
}

.search-result {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

.select-control {
  font-family: 'PT Sans';
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  margin: 0;
  width: 292px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
}

.select-control-option {
  padding: 0;
}

.view-list {
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: 48px 48px 48px;
  gap: 8px;
}

.card-grid-toggle {
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
}

.card-grid-toggle-current {
  border: 2px solid #000000;
  border-radius: 4px;
}

/*______________________________________Карточки отелей_________________________________*/
.housing-card-list {
  display: grid;
  grid-template-columns: 340px 340px 340px;
  margin-top: 40px;
  padding: 0;
  gap: 20px;
  margin-bottom: 40px;
}

.housing-card-item {
  border: 1px solid #E6E6E6;
  border-radius: 4px;
  padding: 20px;
  display: grid;
  grid-template-columns: 140px 140px;
  grid-template-rows: 256px 21px 36px 37px;
  column-gap: 20px;
  row-gap: 16px;
}

.housing-card-link {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  grid-column: 1 / 3;
  grid-row: 1 / 2;
}

.housing-card-image {
  padding-bottom: 16px;
}

.housing-card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  margin: 0;
  padding: 0;
}

.housing-card-description {
  color: #333333;
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  margin: 0;
  padding: 0;
}

.housing-card-price {
  color: #333333;
  margin: 0;
  padding: 0;
  text-align: right;

  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.button-card {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #FFFFFF;
  border-radius: 4px;
  border: 0;
}

.housing-card-button {
  background-color: #756157;
  grid-column: 1 / 2;
  grid-row: 3 / 4;
  padding: 8px 26px;
}

.add-to-favorites {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  padding: 8px 20px;
}

.green {
  background: #7DB54F;
  padding: 8px 18px;
}

.housing-card-rating {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #333333;

  grid-column: 2 / 3;
  grid-row: 4 / 5;

  background: #F2F2F2;
  border-radius: 4px;
  text-transform: uppercase;
  padding: 9px 22px 8px 23px;
}

.housing-stars {
  grid-column: 1 / 2;
  grid-row: 4 / 5;
}

/*_______________________________________________Пагинация________________________________*/
.pagination-list {
  display: flex;
  margin: 0;
  padding: 0;
}

.pagination-item {
  background-color: #82B3D3;
  border-radius: 4px;
  color: #FFFFFF;
  min-width: 60px;
  height: 60px;
  text-align: center;
  margin-right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.continuation {
  color: #000000;
  background: none;
}

.pagination-current {
  background-color: #F2F2F2;
  color: #000000;
}
